.card-focus {
  border: 2px solid yellowgreen;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  overflow: auto;

  grid-auto-rows: max-content;

  .name {
  }

  .type,
  .subtype {
  }

  .faction {
    grid-column: span 2;
  }

  .body-text {
    grid-column: span 2;
  }
}
