@import "./styles/colors.scss";

.game-board {
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-rows: 5% 75% 15%;
  height: 100%;
  width: 100%;

  .header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .left-side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / span all;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    fieldset {
      border: 1px solid $colorRed;
    }

    .stats {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .stat {
        text-align: center;
        padding: 0.5rem;
        background-color: $colorGray;
      }

      .stat-number {
        font-size: 2rem;
      }
    }

    .card-piles {
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .turn {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      background-color: $colorGray;

      .turn-number {
        font-size: 2rem;
      }
    }
  }

  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    &.solo-play {
      grid-row: 1 / span 2;
    }
  }

  .right-side-bar {
    grid-column: 3 / 3;
    grid-row: 1 / span all;

    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: clip;

    &.chat-expanded {
      grid-template-rows: auto 1fr 2fr;
    }

    .options {
      margin-left: auto;
    }

    .game-chat {
      display: flex;
      flex-direction: column;

      .expand-button {
        margin-left: auto;
      }
    }
  }

  .footer {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    z-index: 0;
  }
}
