.hand {
  display: flex;
  width: 100%;

  .hand-card {
    max-width: 168px;

    .card {
      height: 100%;
      width: 100%;

      transition: transform 0.2s ease-in-out;
      cursor: grab;

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
      }

      &:hover {
        transform: scale(1.5) translateY(-5%);
        z-index: 0;

        img {
          outline: 2px solid yellow;
        }
      }
    }
  }
}
