.hand {
  display: flex;

  .card {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-75px);

      img {
        outline: 2px solid red;
      }
    }
  }

  &.opponent {
    .card {
      transform: translateY(-80%);
      z-index: 1;

      img {
        transform: rotate(180deg);
      }

      &:hover {
        transform: translateY(-75%);

        img {
          outline: 2px solid red;
        }
      }
    }
  }
}
